*{
    margin: 0;
    padding: 0;
}
.hero{
    height: 100vh;
    display: flex;
    margin: 30px 150px;
}
.hero-left{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.hero-left h1{
    font-size: 7rem;
    font-weight: 900;
}
.hero-left-logo{
    position: relative;
}
.hero-left-logo img{
    position: absolute;
    bottom: 20px;
    left: 35%;
}
.hero-left p{
    padding: 30px 0;
    font-size: 1.8rem;
    font-weight: 700;
}
.btns .black-btn{
    width: 20%;
    border-radius: 6px;
    color: white;
    background-color: #181C14;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    border: none;
    padding: 12px 18px;
    font-size: 1.5rem;
    align-items: center;
    cursor: pointer;
}
.btns .white-btn{
    width: 25%;
    border-radius: 6px;
    color: black;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    border: none;
    padding: 12px 18px;
    font-size: 1.5rem;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}
.hero-right{
    display: flex;
    width: 50%;

}
.hero-right img{
    cursor: pointer;
    max-height: 80vh;
    padding-left: 20%;
}