*{
    margin: 0;
    padding: 0;
}
.hero{
    height: 100vh;
    display: flex;
    margin: 30px 150px;
}
.hero-left{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.hero-left h1{
    font-size: 7rem;
    font-weight: 900;
}
.hero-left-logo{
    position: relative;
}
.hero-left-logo img{
    position: absolute;
    bottom: 20px;
    left: 35%;
    cursor: pointer;
}
.hero-left p{
    padding: 30px 0;
    font-size: 1.8rem;
    font-weight: 700;
}
.btns .black-btn{
    width: 20%;
    border-radius: 6px;
    color: white;
    background-color: #181C14;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    border: none;
    padding: 12px 18px;
    font-size: 1.5rem;
    align-items: center;
    cursor: pointer;
}
.btns .white-btn{
    width: 25%;
    border-radius: 6px;
    color: black;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    border: none;
    padding: 12px 18px;
    font-size: 1.5rem;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}
.hero-right{
    display: flex;
    width: 500px;

}
.hero-right img{
    cursor: pointer;
    width: 540px;
    height: 600px;
    padding-left: 20%;
}

/* --------------------------media-queries----------------- */

@media (max-width:768px) {
    .hero{
        margin: 30px 100px;
        height: 80vh;
    }
    .hero-left-logo h1{
        font-size: 3rem;
    }
    .hero-left-logo img{
        width: 40px;
        left: 5.6rem;
        bottom: .5rem;
    }
    .hero-left p{
        font-size: 1rem;
    }
    .btns .black-btn{
        font-size: 1rem;
        width: 38%;
        padding: 7px 12px;
    }
    .btns .white-btn{
        font-size: .8rem;
        width: 55%;
        padding: 7px 12px;
    }
    .hero-right{
        width: auto;
    }
    .hero-right img{
        margin-top: -10%;
        max-width: 45vw;
        max-height: 60vh;
    }
}

@media only screen and (max-width: 480px) {
        .hero{
        margin: 30px 60px;
        height: 40vh;
    }
    .hero-left-logo h1{
        font-size: 2rem;
    }
    .hero-left-logo img{
        width: 20px;
        left: 3.8rem;
        bottom: .5rem;
    }
    .hero-left p{
        font-size: .7rem;
    }
    .btns .black-btn{
        font-size: .6rem;
        width: 30%;
        padding: 7px 8px;
    }
    .btns .white-btn{
        font-size: .6rem;
        width: 35%;
        padding: 7px 8px;
    }
    .hero-right{
        width: auto;
    }
    .hero-right img{
        margin-top: -10%;
        width: 180px;
        height: 220px;
    }    
  }

  @media only screen and (max-width: 320px) {
    .hero{
    margin: 30px 40px;
    height: 30vh;
}
.hero-left-logo h1{
    font-size: 1.5rem;
}
.hero-left-logo img{
    width: 20px;
    left: 2.8rem;
    bottom: .2rem;
}
.hero-left p{
    font-size: .5rem;
    padding: 5px 0;

}
.btns .black-btn{
    font-size: .4rem;
    width: 30%;
    padding: 6px 6px;
}
.btns .white-btn{
    font-size: .4rem;
    width: 45%;
    padding: 6px 6px;
}
.hero-right{
    width: auto;
}
.hero-right img{
    margin-top: -10%;
    width: 120px;
    height: 160px;
}    
}