*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.Footer{
    margin:30px 160px 0px 160px;
}
.foot-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.foot-logo span{
    font-size: 1.5rem;
    padding-top:15px ;
}
.foot-links ul{
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
}
.foot-links ul li{
    font-size: 1.5rem;
    margin: 0px 1.5rem;
}
.foot-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.foot-icons img{
    margin: 0 1.5rem;
    cursor: pointer;
}
.hori{
    margin: 0 3rem;
}
.para{
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

/* --------------------media queries---------------- */


@media (max-width:768px) {
    .Footer{
        margin:0px 100px 0px 100px;
    }
    .foot-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .foot-logo img{
        width: 60px;
    }
    .foot-logo span{
        font-size: 1.2rem;
        padding-top:15px ;
    }
    .foot-links ul{
        display: flex;
        justify-content: center;
        margin: 1rem 0rem;
    }
    .foot-links ul li{
        font-size: 1.2rem;
        margin: 0px 1.5rem;
    }
    .foot-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
    }
    .foot-icons img{
        width: 30px;
        margin: 0 1rem;
        cursor: pointer;
    }
    .hori{
        margin: 0 5rem;
    }
    .para{
        font-size: 1rem;
        text-align: center;
        padding: .5rem;
    }
}

@media only screen and (max-width: 480px) {
    .Footer{
        margin:0px 50px 0px 50px;
    }
    .foot-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .foot-logo img{
        width: 60px;
    }
    .foot-logo span{
        font-size: 1rem;
        padding-top:10px ;
    }
    .foot-links ul{
        display: flex;
        justify-content: center;
        margin: 1rem 0rem;
    }
    .foot-links ul li{
        font-size: 1rem;
        margin: 0px 1.5rem;
    }
    .foot-icons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .foot-icons img{
        width: 25px;
        margin: 0 1rem;
        cursor: pointer;
    }
    .hori{
        margin: 0 5rem;
    }
    .para{
        font-size: .8rem;
        text-align: center;
        padding: .5rem;
    }
}
@media only screen and (max-width: 320px) {
    .Footer{
        margin:0px 20px 0px 20px;
    }
    .foot-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .foot-logo img{
        width: 40px;
    }
    .foot-logo span{
        font-size: .8rem;
        padding-top:10px ;
    }
    .foot-links ul{
        display: flex;
        justify-content: center;
        margin: .6rem 0rem;
    }
    .foot-links ul li{
        font-size: .8rem;
        margin: 0px 1.5rem;
    }
    .foot-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    .foot-icons img{
        width: 20px;
        margin: 0rem 1rem;
        cursor: pointer;
    }
    .hori{
        margin: 0 5rem;
    }
    .para{
        font-size: .6rem;
        text-align: center;
        padding: .1rem;
    }
}